.col-lg-3.col-lg-offset-1
  - if task.done?
    .well{ :class => "task-done" }
      %strong= task.name
  - else
    = link_to get_done_task_path(task), remote: true do
      .well{ :class => "task-to-do" }
        %strong= task.name

