$('#error-box').remove();
$('form').remove();
$('#tasks').append("#{j render partial: "task", locals: {task: @task}}");
$('.new-task-button').show();
toastr.success("#{@task.name} task was successfully created!");