%h1 Welcome to Task List App where you can manage your tasks
.col-md-12.text-center
  = link_to 'New Task', new_task_path, remote: true, class: 'btn btn-primary new-task-button'
.row#tasks
  - @tasks.each do |task|
    = render task