- if obj.errors.any?
  .alert.alert-danger
    %h2= "#{pluralize(obj.errors.count, "error")} prohibited this section from being saved:"
    %ul
      - obj.errors.full_messages.each do |msg|
        %li= msg