@import "bootstrap-sprockets";
@import "bootstrap";

$done-color: #16890a;
$to-do-color: #CD333E;
$text-well-color: #FFF;

.task-done{
	background-color: $done-color !important;
	text-decoration: line-through;
}

.task-to-do{
	background-color: $to-do-color !important;
	transition: 1s;
}

.task-to-do:hover{
	background-color: $done-color!important;
	cursor: pointer;
	text-decoration: line-through;
}

.new-task-button{
	margin: 20px !important;
}

#tasks a:hover{
	text-decoration: none;
}

.well strong{
	color: $text-well-color;

	a{
		color: inherit;
		text-decoration: none;
	}
}

.delete-link{
	color: $text-well-color;
	float: right;
}